@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import 'tailwindcss';

/* Preline UI */
@import "../../node_modules/preline/variants.css";
@source "../../node_modules/preline/dist/*.js";
/* @font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Anton,Inter,Plus_Jakarta_Sans/Anton/Anton-Regular.ttf') format('truetype');
} */

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source "../views";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-anton: "Anton", sans-serif;

}

/* Tambahkan animasi custom di bawah sini */
@layer utilities {
  @keyframes fadeInX {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes SlideX {
    0% {
      transform: translateX(var(--tw-translate-start));
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes MorphX {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.56);
    }
  }

   .animate-slide-1{
    --tw-translate-start: -200px;
    transform: translateX(var(--tw-translate-start));
    animation: 
        fadeInX 1s 0.3s ease-in-out forwards, 
        SlideX 2.7s cubic-bezier(0.7, 0, 0.2, 1) forwards,
        MorphX 1s 3.5s forwards;
  }

  .animate-slide-2{
    --tw-translate-start: 200px;
    transform: translateX(var(--tw-translate-start));
    animation:
        fadeInX 1s 0.4s ease-in-out forwards, 
        SlideX 3s cubic-bezier(0.7, 0, 0.2, 1) forwards,
        MorphX 1s 3.5s forwards;
  }

  .animate-slide-3{
    --tw-translate-start: 150px;
    transform: translateX(var(--tw-translate-start));
    animation: 
        fadeInX 1s 0.4s ease-in-out forwards, 
        SlideX 2.5s cubic-bezier(0.7, 0, 0.2, 1) forwards,
        MorphX 1s 3.5s forwards;
  }

  .animate-slide-4{
    --tw-translate-start: -200px;
    transform: translateX(var(--tw-translate-start));
    animation: 
        fadeInX 1s 0.7s ease-in-out forwards, 
        SlideX 3s cubic-bezier(0.7, 0, 0.2, 1) forwards,
        MorphX 1s 3.5s forwards;
  }

  .animate-slide-5{
    --tw-translate-start: 100px;
    transform: translateX(var(--tw-translate-start));
    animation: 
        fadeInX 1s 0.3s ease-in-out forwards, 
        SlideX 2s cubic-bezier(0.7, 0, 0.2, 1) forwards,
        MorphX 1s 3.5s forwards;
  }

  .animate-slide-6{
    --tw-translate-start: -80px;
    transform: translateX(var(--tw-translate-start));
    animation: 
        fadeInX 1s 0.9s ease-in-out forwards, 
        SlideX 3.5s cubic-bezier(0.7, 0, 0.2, 1) forwards,
        MorphX 1s 3.5s forwards;
  } 
}
